<h1>Todo</h1>
<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8 text-center">
    <table class="table table-hover">
      <tbody>
        <tr *ng-for="#todo of todos; #i = index">
          <td>
            <input type="checkbox">
          </td>
          <td>{{todo}}</td>
          <td>
            <button (click)="removeTodo(i)" class="btn btn-sm">Remove</button>
          </td>
        </tr>
      </tbody>
    </table>
    <p *ng-if="todos.length > 5">Wow this is a long list!</p>
    <div class="form-inline">
      <input type="text" #todotext (keyup)="doneTyping($event)" class="form-control" placeholder="What to do?">
      <button (click)="addTodo(todotext.value)" class="btn">Add</button>
    </div>
  </div>
  <div class="col-md-2"></div>
</div>